.b-red { background: red; }
.c-blue { color: blue; }

.w-400 { width: 400px; }
.w-800 { width: 800px; }

.p-20 { padding: 20px; }
.m-30 { margin: 30px; }


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

